<div class="application">
  <h1>{{playerTurn === 1 ? "Red's" : "Yellow's"}} turn</h1>

  <table class="board">
    <tr>
      <td
        class="button board__square--add"
        *ngFor="let col of boardData; let i = index"
        (click)="addToBoard(i)">
        <img class="board--arrow" src="/assets/arrow_drop_down.png">
      <td>
    </tr>
    <tr *ngFor="let row of boardData[0]; let j = index">
      <td *ngFor="let col of boardData; let i = index">
        <a
          *ngIf="j === 5 && playerTurn === boardData[i][j]; else no_link_square"
          href="#"
          class="board__square--delete"
          (click)="removeElement(i, j)">
          <div
            [ngClass]="boardData[i][j] === 1 ? 'board__square board__square--red' :
            (boardData[i][j] === 2 ? 'board__square board__square--yellow' : 'board__square')">
          </div>
        </a>
        <ng-template #no_link_square>
          <div
            [ngClass]="boardData[i][j] === 1 ? 'board__square board__square--red' :
            (boardData[i][j] === 2 ? 'board__square board__square--yellow' : 'board__square')">
          </div>
        </ng-template>
      </td>
    </tr>
  </table>

  <h1 *ngIf="winner.length === 1">{{winner[0] === 1 ? "Red" : "Yellow"}} won!</h1>
  <h1 *ngIf="winner.length > 1">It's a draw!</h1>
</div>
